<nav class="navbar navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
        
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
         
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="" fragment="About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="" fragment="Education" >Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="" fragment="Skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="" fragment="Project">Projects</a>
              </li>
            <br>
              <div class="container">
                
            
                <ul class="social-media">
                    <li><a href="mailto:j.joseph04j@gmail.com"><i class='bx bxl-gmail'></i></a></li>
                    <li><a href="https://www.instagram.com/slim_stag/" target="_blank"><i class='bx bxl-instagram'></i></a></li> 
                    <li><a href="https://www.linkedin.com/in/jibin-joseph-04j/" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                </ul>
                <br>
                <ul class="contact-info">
                    <li></li>
                    <li></li>
                </ul>

               
              
            </div>
            
          
         </ul>
        </div>
      </div>
    </div>
  </nav>


 <app-home appResponsive id="Home"></app-home>
<app-about appResponsive id="About"></app-about>
<app-education appResponsive id="Education"></app-education>
<app-skills appResponsive id="Skills"></app-skills>
<app-project appResponsive id="Project"></app-project>
<app-work-experience appResponsive></app-work-experience>

