:host {
    display: block;
    padding: 4rem 2rem 6rem;
    background-color: var(--dark-gray);
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.title {
    font-size: 4rem;
    padding: 0 0 2rem;
    text-align: center;
    font-style: italic;
    color: var(--blue);
   
    font-family: 'Roboto Condensed', sans-serif;
}

.name {
    grid-row: 3/4;
    padding: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.608);
    font-size: 2rem;
    margin-top: 3rem;
    
    font-family: 'Roboto Condensed', sans-serif;
}


.name span:nth-of-type(2) {
    display: inline-block;
    color: var(--blue);
    font-size: 4rem;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: 8px;
    text-shadow: 8px 8px 8px rgb(45, 44, 44);
      
}

 .profile {
    width: 300px;
    height: 300px;
    grid-row: 2/3;
    margin: 0 auto;
    position: relative;
  
}

 .profile .profile-bg {
    height: 75%;
    width: 100%;
    bottom: 0%;
    position: absolute;
    
    
   
}

.profile img {
    width: 80%;
    height: 80%;
    position: relative;
    padding-left: 20%;
    padding-top: 50px;
    border-radius: 50%;
    
}  

/* PC */

 :host.pc {
    padding: 4rem 2rem 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
} 

:host.pc .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

:host.pc .title {
    grid-column: 1/2;
    padding: 0%;
    margin: auto;
    font-size: 5rem;
    font-style: normal;
    text-decoration: none;
}

:host.pc .profile {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 600px;
    height: 600px;
}

:host.pc .name {
    grid-row: 2/3;
    width: 600px;
    margin: auto;
    margin-left: 0;
    margin-bottom: 0;
    height: max-content;
}
:host.pc .profile img{
    width: 75%;
    height: 70%;

}
:host.pc  img{

   border-radius: 50%;
    
  
}